<!DOCTYPE HTML>
<html>
<head>
<title>Singular Password</title>
</head>
<body>
	<script src="{{ static_url("jquery-1.6.1.min.js") }}" type="text/javascript"></script>
	<script src="{{ static_url("utf8.js") }}" type="text/javascript"></script>
	<script src="{{ static_url("sha1.js") }}" type="text/javascript"></script>
    <script src="{{ static_url("singular.js") }}" type="text/javascript"></script>
	<div id="input">
		<form id="passwordform">
		Type the password:
			<input type="text" id="passwordbox" style="width:500px"/>
		</form>
      </div>
	<div id="results">
		Enter something!
	</div>
</body>

</html>
